beautifulsoup4==4.12.3
PyQt5==5.15.11
python-dotenv==1.0.1
requests==2.32.3
vvspy==2.0.2
regex==2022.9.13
beautifulsoup4==4.12.3
# Add Windows-only packages in this format
win10toast==0.9 ; platform_system == "Windows"
pypiwin32 ; platform_system == "Windows"
SpeechRecognition==3.11.0
pyttsx3==2.98
newsapi-python==0.2.7